<footer class="fixed inset-x-0 bottom-0 p-4 bg-white dark:bg-gray-900">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between sm:flex-row flex-col">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {% now 'Y' %} <a
                    href="https://bgopc.github.io" class="hover:underline">MiniCodes™</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                <a href="https://twitter.com/BehradOpc"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <!-- Twitter icon code -->
                    </svg>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="https://github.com/bgopc"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <!-- GitHub icon code -->
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a href="https://discord.com/users/981185650957119518"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-discord" viewBox="0 0 16 16">
                        <!-- Discord icon code -->
                    </svg>
                    <span class="sr-only">Discord account</span>
                </a>
            </div>
        </div>
    </div>
</footer>