<header class="bg-teal-500 py-4">
    <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
            <button class="text-white focus:outline-none">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                    ></path>
                </svg>
            </button>
            <img
                    class="h-8 ml-2"
                    src="../static/favicon/favicon-32x32.png"
                    alt="MiniCodes Logo"
            />
            <div class="ml-4 text-white">MiniCodes</div>
        </div>
        <div class="flex items-center flex-grow m-2">
            <input
                    type="text"
                    class="px-4 py-2 rounded-lg w-full"
                    placeholder="Search"
            />
            {% if user.is_authenticated %}
                <div class="ml-4 flex items-center text-white">
                    <span class="mr-2">Logged in as BGOPC</span>
                    <img
                            class="h-8 w-8 rounded-full"
                            src="{{ user.profile.url }}"
                            alt="{{ user.nickname|add:"Profile Image" }}"
                    />
                </div>
            {% else %}
                <div class="ml-4 flex items-center text-white">
                    <span class="mr-2">Not Logged In</span>
                    <img
                            class="h-8 w-8 rounded-full"
                            src="https://www.seekpng.com/png/detail/413-4139803_unknown-profile-profile-picture-unknown.png"
                            alt="Default Profile"
                    />
                </div>
            {% endif %}

        </div>
    </div>
</header>