{% extends '_layout.html' %}
{% block title %}
    Register to MiniCodes
{% endblock %}
{% block content %}
    <form method="post" id="signupForm"
          class="bg-slate-400 w-1/2 mx-auto items-center justify-center px-5 border-2 border-gray-900 py-3 rounded-3 h-100 my-4"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label class="block text-center font-weight-bold text-lg">First Name</label>
            {{ form.first_name }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Last Name</label>
            {{ form.last_name }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">User Name</label>
            {{ form.username }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Email</label>
            {{ form.email }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Description</label>
            {{ form.description }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Phone Number</label>
            {{ form.phone }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Password</label>
            {{ form.password1 }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Repeat Password</label>
            {{ form.password2 }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Profile Picture</label>
            {{ form.profile }}
        </div>
        <div class="flex items-baseline justify-center">
            <a
                    href="{% url 'login' %}"
                    class="text-decoration-none text-gray-800 hover:text-gray-900 font-bold py-2 px-4 rounded"
            >
                Have an account? Login
            </a>
        </div>
        <div class="text-center">
            <button type="submit"
                    class="bg-gray-900 text-white active:bg-gray-700 uppercase text-sm font-bold px-6 py-3 rounded shadow hover:bg-gray-800 outline-none focus:outline-none mr-1 mb-1 w-1/4">
                Register
            </button>
        </div>
    <div>
        errors:
        {{ form.errors }}
    </div>
    </form>
{% endblock %}