{% extends '_layout.html' %}
{% block title %}
MiniCodes - Share a code
{% endblock %}
{% block content %}
    <form method="post" id="codeCreateForm" class="bg-gray-200 w-1/2 mx-auto items-center justify-center px-5 border-2 border-red-500 py-3 rounded my-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Short Description</label>
            {{ form.short_description }}
        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Code</label>
            {{ form.code_text }}
        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Type</label>
            {{ form.type }}
        </div>
        <div class="flex items-center justify-center">
            <input type="submit" value="Post A Code" class="bg-gray-200 hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        </div>
    </form>
{% endblock %}