{% extends '_layout.html' %}
{% block title %}
    MiniCodes - Share a code
{% endblock %}
{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet"/>{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>$(document).ready(function () {
        $('.select2').select2();
    });</script>
{% endblock %}
{% block content %}
    <form method="post" id="codeCreateForm"
          class="bg-gray-200 w-1/2 mx-auto items-center justify-center px-5 border-2 border-red-500 py-3 rounded my-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Title</label>
            {{ form.short_description }}

        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Description</label>
            {{ form.description }}

        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Code</label>
            {{ form.code_text }}
            {% if form.code_text.errors %}
                <ul class="text-red-500 list-disc pl-4 mt-2">
                    {% for error in form.code_text.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Type</label>
            {{ form.type }}

        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Select Codes</label>
            {{ form.code }}

            <a href="{% url 'CreateCode' %}" class="block m-2 text-lg text-emerald-800">Create A Code</a>
        </div>
        <div class="flex items-center justify-center">
            <input type="submit" value="Post A Code"
                   class="bg-gray-200 hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        </div>
        {% if form.errors %}
            <ul class="text-red-900 list-disc pl-4 mt-2">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}