{% extends '_layout.html' %}
{% block title %}
    MiniCodes - Post an Answer
{% endblock %}
{% block content %}
    <form method="post" id="questionCreateForm"
          class="bg-gray-200 w-1/2 mx-auto items-center justify-center px-5 border-2 border-red-500 py-3 rounded my-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Short Description</label>
            {{ form.short_description }}
        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-4">
            <label class="block text-center font-bold text-lg mb-2">Code</label>
            <p class="text-decoration-none text-gray-800 hover:text-gray-900 font-bold py-2 px-4 rounded">Select A Code</p>
            {{ form.code }}
        </div>
        <div class="flex items-center justify-center">
            <input type="submit" value="Answer The Question"
                   class="bg-gray-200 hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        </div>
    </form>
{% endblock %}