{% extends '_layout.html' %}
{% block title %}
    MiniCodes
{% endblock title %}
{% load language_map %}
{% block content %}
    <br>
    <div class="container mx-auto p-4 bg-teal-100 rounded-lg">
        <h1 class="text-4xl font-bold">{{ question.short_description }}</h1>
        <p class="my-4">{{ question.description }}</p>
        <div class="mt-4">
            {% for code in question.code.all %}
                {% include 'codeisc/includes/code.html' with code=code code_language=language_mapping|get_from_dict:code.type %}
            {% endfor %}
        </div>

        <div class="mt-6 bg-white p-4 rounded-lg">
            <p class="text-sm font-semibold">Author: <a href="{{ question.author.profile.url }}"
                                                        class="text-blue-500">{{ question.author.username }}</a></p>
            <p class="text-sm">Created at: {{ question.created_at|date:"F j, Y" }}</p>
        </div>
        <h2 class="text-2xl font-bold mt-6">Answers</h2>
        <div class="mt-4">
            {% for answer in answers %}
                {% include 'codeisc/includes/answer.html' with answer=answer %}
            {% empty %}
                No Answer Available
            {% endfor %}
            <a class="block appearance-none py-2 px-4 border border-blue-500 rounded text-center" href="{% url 'CreateAnswer' questionID=question.pk %}">Post Your Own Answer</a>

        </div>
    </div>
{% endblock %}