{% extends '_layout.html' %}
{% block title %}
    MiniCodes
{% endblock title %}
{% load language_map %}
{% block content %}
    <div class="container mx-auto my-4 p-4 bg-neutral-200 rounded-lg">
        <h1 class="text-4xl font-bold">{{ question.short_description }}</h1>
        <p class="my-4">{{ question.description }}</p>
        {% if question.code.all %}
            <div class="mt-4">
                {% for code in question.code.all %}
                    {% include 'codeisc/includes/code.html' with code=code code_language=language_mapping|get_from_dict:code.type %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="mt-6 bg-neutral-100 p-4 rounded-lg">
            <p class="text-sm font-semibold"><a href="{% url 'userProfile' username=question.author.username %}"
                                                class="text-blue-500">
                <div class="flex items-center flex-column text-gray-500 mt-2">
                    <div class="flex space-x-2">
                        <div><span class="text-black">Author:</span> {{ question.author.username }}</div>
                        <img class="h-6 w-6 rounded-full" src="{{ question.author.profile.url }}"
                             alt="{{ question.author.username }} profile picture"/>
                    </div>
                </div>
            </a></p>
            <p class="text-sm">Created at: {{ question.created_at|date:"F j, Y" }}</p>
        </div>

        <h2 class="text-2xl font-bold mt-6">Answers</h2>
        <div class="mt-4">
            {% for answer in answers %}
                {% include 'codeisc/includes/answer.html' with answer=answer %}
            {% empty %}
                No Answer Available
            {% endfor %}
            <a class="block appearance-none py-2 px-4 border border-blue-500 rounded text-center"
               href="{% url 'CreateAnswer' questionID=question.pk %}">Post Your Own Answer</a>

        </div>
    </div>
{% endblock %}